<h1>{{ section.settings.text }}</h1>
{% for block in section.blocks %}
  {% if block.type == "social" %}
    <a href="{{ block.settings.url }}">{{ block.settings.text  }}</a>
    {% elsif block.type == "paragraph" %}
    <p>{{ block.settings.text }}</p>
    {% endif %}
{% endfor %}

  
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"text",
        "id": "text",
        "label": "text"
      }
    ],
    "presets": [
      {
        "name":"Default custom section",
        "settings": {
            "text": "Default text"
          },
        "blocks": [
          {
            "type": "paragraph"
          },
          {
            "type": "social",
            "settings":{
              "url": "https://twitter.com",
              "text": "Twitter"
            }
          }
        ]
        
      },
      {
        "name":"Red custom section",
        "settings": {
            "text": "Red Text"
        }
      }
    ],
    "tag":"section",
    "class": "custom-new-section",
    "blocks":[
      {
        "name": "Social Links",
        "type": "social",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "text"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      },
      {
        "name": "Paragraph",
        "type": "paragraph",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "text"
          }
        ]
      }
    ]
  }
{% endschema %}