.best-seller-container {
  box-sizing: border-box;
  /* background: green; */
}

.best-seller-sub-container {
  padding: 56px;
}



.best-seller-sub-container .center-container {
  /* background-color: #0ff; */
  height: 810px !important;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.best-seller-container .Page-headig-container p {
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
}

.best-seller-slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.best-seller-slider .slider-navbar{
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}
.best-seller-slider .slider-navbar p{
  margin-inline: 30px;
}

.actual-slider-container {
  display: flex;
  justify-content: center;
  width: 1328px !important;
  align-items: center;
  overflow: visible;
}

.actual-slider-container .slick-slider .slick-list {
  display: flex;
  padding: 0px;
  transition: all 0.3s ease;
}




.actual-slider-container .slick-active {
  display: flex !important;
  transition: all 0.3s ease;
}

.actual-slider-container .slick-list .slick-track{
  width: 17000px !important;
}

.actual-slider-container .slick-list .slick-track .slick-center {
  display: flex;
  justify-content: center;
  margin-inline: 70px;
  transition: all 0.3s ease;
}


.actual-slider-container .slick-active .info-container {
  display: none !important;
}



.actual-slider-container .each-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.actual-slider-container .slick-prev:before , .actual-slider-container .slick-next:before{
  font-size: 45px !important;
  border: 1px solid grey ;
  border-radius: 50%;
  background: black !important;
}


.actual-slider-container .slick-list .slick-track .slick-center .info-container {
  display: flex !important;
  flex-direction: column;
  place-content: flex-end;
}

.each-slide .product-image-cont {
  width: 383px;
  height: 366px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.3s ease;
}

.actual-slider-container .slick-center .each-slide .product-image-cont img{
  animation:bouncingBallAnimation 1.5s linear;  
  animation-direction: alternate;  
  animation-iteration-count: infinite;
}

  @keyframes bouncingBallAnimation{  
    from { transform: translate3d(0, 0, 0);}  
    to { transform: translate3d(0, -50px, 0);}   
}

.each-slide .product-image-cont img {
  
}

.actual-slider-container .slick-slide .each-slide .product-image-cont img{
  transition: all 0.3s ease;
  width: 50%;
  height: auto;
} 

.actual-slider-container .slick-center .each-slide .product-image-cont img{
  width: 100%;
}

.slider-container1 .info-container {
  min-width: 449px;
  min-height: 197px;
  text-align: center;
  display: none;
}



.slider-container1 .info-container .title-container{
  min-width: 449px;
  min-height: 76px;
}

.slider-container1 .info-container .title-container p {
  font-size: 72px;
  line-height: 78px;
  font-weight: 500;
}

.slider-container1 .info-container .description-container {
  min-width: 443px;
  height: 32px;
}

.slider-container1 .info-container .description-container p{
  padding: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.slider-container1 .info-container .button-container1 {
  margin-inline: auto;
  width: 195px;
  height: 40px;
}

.slider-container1 .info-container .button-container1 a {
  color: black !important;
  padding: 10.5px 16.67px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  border: 1px solid #FF600A;
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
}

/* .active-slider-nav{
  transition: all 0.3s ease;
} */

.slider-navbar .slick-current{
  border-bottom: 2px solid #FF600A;
}