.treatment-section{
    background: url("https://cdn.shopify.com/s/files/1/0855/8706/7173/files/Rectangle_280742.webp?v=1710748050") no-repeat  ;
    background-size: cover;
    background-position: top center;
    color: white;
    padding: 48px 56px;
}

/* .treatment-section::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    background: (green,linear-gradient(90deg, #AEFF92 27.15%, #BFF1FC 70.37%));
    filter: blur(30px);
    height: 60px;
    z-index: 2;
} */

/* .treatment-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0000004d 0% 100%);
    z-index: 1;
} */

.treatment-upper-container{
    /* margin-top: 48px; */
    max-width: 1168px;
    margin-inline: auto;
    text-align: center;
    transform: translateY(-64px);
    opacity: 0;
    transition: all 0.6s ease;
}

.treatment-upper-active{
    transform: translateY(0);
    opacity: 1;
}

.treatment-upper-container h1{
    font-family: Rand;
    font-size: 72px;
    line-height: 78px;
    font-weight: 500;
    letter-spacing: 0em;
    max-width: 1137px;
    margin-inline: auto;
    color: white !important;
    margin-top: 16px;
}

.treatment-upper-container p{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    max-width: 1077px;
    margin-inline: auto;

}
.treatment-below-container{
    max-width: 1166px;
    margin-inline: auto;
    background-color: #f6f5f0;
    text-align: center;
    border-radius: 16px;
    padding: 32px;
    margin-top: 181px;
    transform: translateY(48px);
    opacity: 0;
    transition: all 0.6s ease;

}

.treatment-divider{
    height: 5px;
    max-width: 1166px;
    margin:24px auto;
}

.treatment-below-container .treatment-main-below-container{
    display: flex;
    justify-content: space-between;
    color: black;
    border-radius: 8px;  
}

.treatment-below-container h1{
    font-family: Rand;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 24px;
    font-weight: 500;
}

.treatment-main-below-container .treatment-options-container{
    /* margin-inline: 17px; */
    width: calc(20% -33.5px);
    background-color: white;
    border-radius: 8px;
    padding: 24px 16px;
    max-width: 193px;
    max-height: 153px;
    border: 1px solid white;
    transition: all 0.2s ease;
    
}

.treatment-active{
    transform: translateY(0);
    opacity: 1;
}

.treatment-main-below-container .treatment-options-container:hover {
    border: 1px solid #FF600A;
}


.treatment-main-below-container .treatment-options-container p{
    max-width: 161px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 16px;
}
.treatment-main-below-container .treatment-options-container a{
    color: black;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-inline: auto;
    border: 1px  solid #c4c1c1 ;
    padding: 16px 15px;
}
.treatment-main-below-container .treatment-options-container:hover a{
    color: white;
    background-color: #FF600A;
    border: 1px  solid #FF600A ;
    transition: all 0.3s ease;
}


.treatment-main-below-container .treatment-options-container a svg{
    rotate: -90deg;
}
.treatment-main-below-container .last-container a{
    border: 1px solid #FF600A;
    padding: 9px 16px;
    border-radius: 28px;

}

@media screen and (max-width:768px) {
    .treatment-section{
        padding: 20px ;
    }   
    
    .treatment-below-container{
        background-color: white;
        margin-bottom: 24px;
        padding: 32px 24px 0 18px;
    }
    .treatment-main-below-container {
        flex-direction: column;
        width: 100%;
        /* background-color: #fff; */

    }
    .treatment-main-below-container .treatment-options-container{
        padding:10px 0;
        border-radius: 0;
        /* border: 1px solid ; */
        border-bottom: 1px solid #EAEAEA;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }
    .treatment-main-below-container .treatment-options-container p{
        max-width: 100%;
    }
    .treatment-main-below-container .treatment-options-container a{
        margin-inline: 0;
    }
    .treatment-main-below-container .treatment-options-container:hover {
    border: none;
    border-bottom: 1px solid #FF600A;
    }

    .treatment-main-below-container .treatment-options-container:hover a{
        border-bottom: 1px  solid #FF600A ;
    }
    .treatment-main-below-container .last-container{
    border: none;
    }

}
@media screen and (max-width:375px) {
 
    .treatment-upper-container{
        padding-top: 20px;
       
    }
    .treatment-upper-container h1{
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 20px;
    }
 
    .treatment-below-container{
        padding: 24px;
        margin-top: 0;
        border-radius: 8px;
    }
    .treatment-below-container h1{
       
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
    }
    .treatment-main-below-container .treatment-options-container{
        padding:10px 0;
        border-radius: 0;
        display: flex;
        justify-content: space-between;
        max-width: 292px;
        min-height: 54px;
    }
    .treatment-main-below-container .treatment-options-container p{
        font-size: 14px;
        line-height: 17px;
        max-width: 100%;
    }
}