.best-seller-container{
  box-sizing:border-box;
}
.Page-headig-container{
  
}

.best-seller-slider{
  display:flex;
  /* overflow-x:hidden; */
}

.actual-slider-container{
  display:flex;
  justify-content:center;
  width:1000px !important;
}

.actual-slider-container .slick-track{
 width:1000px !important; 
}

.actual-slider-container .each-slide{
  display:flex !important;
  /* width:600px; */
}
.each-slide .product-image-cont{
  width:300px;
  height:auto;
}

.slider-container .info-container{
 
  width:449px;
  height:197px;
}