.social-proof-subcontainer{
  padding:45px 0;
  background: #F6F5F0;
}

.animation-container{
  height:334px;
}

.social-proof-subcontainer .proof-container{
  display:flex;
}

.animation-container {
  height:259.03px;
  margin:85.21px auto;
  text-align:center;
  
}

.text-container{
  width:773px;
  height:190px;
  font-size: 13rem;
  font-weight: 900;
  margin-inline:auto;
}

.text-customers{
  font-size: 24px;
  line-height: 32px;
}