.animation-container{
  height:334px;
}

.social-proof-subcontainer .proof-container{
  display:flex;
}

.animation-container {
  height:259.03px;
  margin:85.21px auto;
  text-align:center;
  
}

.text-container{
  width:773px;
  height:190px;
  font-size: 64px;
  font-weight: 900;
  margin-inline:auto;
}
