.container1{
  /* margin:50px 57px;*/
  background: #371726;
  color:white;
}



.needs-page-heading{
  max-width:713px;
  max-height:128px;
  font-size:56px;
  line-height:64px;
  /* margin-inline:auto; */
  text-align:center;
  margin: 40px auto;
}

.container .grid-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr); 
  gap:16px;
}

.container .grid-container .card-block{
  max-width:421px;
  min-width: 300px;
  min-height: 356px;
  display:flex;
  flex-direction:column;
  gap:8px;
  transition:1s ease;
}

.container .grid-container .card-block .image-container{
  min-width:421px;
  max-width:300px;
  min-height:308px;
  overflow:hidden;
  border-radius: 8px;
}
.container .grid-container .card-block:hover .title-container,.image-container img{
  transition:1s ease;
}
.container .grid-container .card-block:hover .image-container img{
  transform:scale(1.3);
}

.container .grid-container .card-block:hover .title-container{
  transform:scale(0.7);
}

.container .grid-container .card-block .title-container{
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
  line-height:32px;
  font-weight:500;
}

.container .grid-container .card-block .title-container a{
  text-decoration:none;
  color:inherit;
}

.container .grid-container .card-block .title-container span{
  padding-bottom:5px;
}

.container .grid-container .card-block .title-container span svg{
  transform: rotate(-90deg);
  align-items:center;
}