.treatment-section{
    background: url("https://cdn.shopify.com/s/files/1/0855/8706/7173/files/pexels-yulianto-poitier-1231365.jpg?v=1710420908") no-repeat center/cover ;
    color: white;
    padding: 48px 56px;
}

.treatment-section::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    background: (green,linear-gradient(90deg, #AEFF92 27.15%, #BFF1FC 70.37%));
    filter: blur(30px);
    height: 60px;
    z-index: 2;
}

/* .treatment-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0000004d 0% 100%);
    z-index: 1;
} */

.treatment-upper-container{
    /* margin-top: 48px; */
    max-width: 1168px;
    margin-inline: auto;
    text-align: center;
}


.treatment-upper-container h1{
    font-family: Rand;
    font-size: 72px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: 0em;
    max-width: 1137px;
    margin-inline: auto;
    color: white !important;
    margin-top: 16px;
}

.treatment-upper-container p{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    max-width: 1077px;
    margin-inline: auto;

}
.treatment-below-container{
    max-width: 1166px;
    margin-inline: auto;
    background-color:  #F6F5F0;
    text-align: center;
    border-radius: 16px;
    padding: 32px;
    margin-top: 181px;

}

.treatment-divider{
    height: 5px;
    max-width: 1166px;
    margin:24px auto;
}

.treatment-below-container .treatment-main-below-container{
    display: flex;
    color: black;
    border-radius: 8px;
}

.treatment-below-container h1{
    font-family: Rand;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 24px;

}

.treatment-main-below-container .treatment-options-container{
    margin-inline: 17px;
    width: calc(20% -33.5px);
    background-color: white;
    border-radius: 8px;
    padding: 24px 16px;
    max-width: 193px;
    max-height: 153px;
}

.treatment-main-below-container .treatment-options-container p{
    max-width: 161px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 16px;

}
.treatment-main-below-container .treatment-options-container a{
    color: black;
    border-radius: 50%;
    border: 1px solid rgb(78, 75, 75);
    padding: 9px 14px;
}

.treatment-main-below-container .last-container a{
    border: 1px solid #FF600A;
    padding: 9px 16px;
    border-radius: 28px;

}