.slides-container{
  display:grid;
  gap:50px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x:auto;
  scrollbar-width:none;
}

.slides-container::-webkit-scrollbar{
  display:none;
}

.container .slider-scrollbar{
  width:30%;
  height:20px;
  background-color:red
} 

.slider-scrollbar scrollbar-track{
  height:3px;
  width:100%;
  background-color:#ccc;
}