.slides-container{
  display:grid;
  gap:50px;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom:30px;
  overflow-x:auto;
  scrollbar-width:none;
}

.slides-container::-webkit-scrollbar{
  display:none;
}

.container .slider-scrollbar{
  width:100%;
  /* margin-inline:auto; */
  height:20px;
  display:flex;
  align-items:center;
} 

.slider-scrollbar .scrollbar-track{
  position:relative;
  height:3px;
  width:100%;
  background:#ccc;
  border-radius:4px;
}
.slider-scrollbar .scrollbar-thumb{
  position:absolute;
  height:100%;
  width:50%;
  background:black;
  border-radius:inherit;
  
}