.slides-container{
  display:grid;
  gap:50px;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom:30px;
  overflow-x:auto;
  scrollbar-width:none;
}

.slides-container::-webkit-scrollbar{
  display:none;
}

.container .slider-scrollbar{
  width:50%;
  margin-inline:auto;
  height:20px;
  display:flex;
  align-items:center;
} 

.slider-scrollbar .scrollbar-track{
  height:3px;
  width:100%;
  background-color:#ccc;
}
.slider-scrollbar .scrollbar-thumb{
  position:absolute;
  height:3px;
  width:100%;
  background-color:#000;
}