.best-seller-container{
  box-sizing:border-box;
}
.Page-headig-container{
  
}

.best-seller-slider{
  display:flex;
  justify-content:center;
  /* overflow-x:hidden; */
}

.actual-slider-container{
  display:flex;
  justify-content:center;
  /* width:1000px !important; */
}

.slick-slider .slick-list{
  height:900px !important;
}
.actual-slider-container .slick-list .slick-track{
 width:1000px !important; 
 transform: translate3d(0px, 0px, 0px) !important;
}

.actual-slider-container .each-slide{
  display:flex !important;
  flex-flow:column;
  justify-content:center;
}
.each-slide .product-image-cont{
  width:300px;
  height:auto;
}

.slider-container .info-container{
 
  width:449px;
  height:197px;
}