.social-proof-subcontainer {
  padding: 45px 0;
  background: #f6f5f0;
}

.animation-container {
  height: 334px;
}

.social-proof-subcontainer .proof-container {
  display: flex;
}

.animation-container {
  height: 259.03px;
  margin: 85.21px auto;
  text-align: center;
}

.text-container {
  width: 773px;
  height: 190px;
  font-size: 13rem;
  font-weight: 900;
  margin-inline: auto;
}

.text-customers {
  font-size: 24px;
  line-height: 32px;
}

.section-container {
  padding-inline: 56px;
  display:flex;
}

.proof-card {
  padding: 32px;
  width: 40%;
  color: #ffffff;
  background: #ff600a;
  width: 487px;
  height: 688px;
  border-radius: 16px;
}
.upper-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  height:384px;
  padding-bottom: 20px;
}

.upper-container .card-heading {
  font-family: Rand;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.upper-container .card-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.upper-container a {
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 9px 16px;
  border-radius: 28px;
  border: 1px solid #eaeaea;
  gap: 10px;
  color: #000000;
  background: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.proof-card hr{
  border-top: 1px solid #eaeaea;
  /* padding:20px 0; */
  margin:28px 0;;
}

.below-container {
  width: 423px;
  height: 176px;
  display:flex;
  flex-direction:column;
  gap: 28px;
  /* margin-top:23px; */
}


.win-service-cont,.live-chat, .help-center{
  display:flex;
  gap:32px;
  align-items:center;
}

.win-service-cont svg,.live-chat svg, .help-center svg{
  width: 33px;
  height: 33px;
}

.win-service-cont p, .live-chat p, .help-center p{
  font-size:18px;
  line-height:24px;
}

.slider-container{
  margin-inline:auto;
  width: 760.75px;
  height: 669px;
}
.slider{
  /* width:100%; */
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}
.slider .card{
  /* position:absolute; */
  display:flex;
  justify-content:center;
  align-items:center;
  width: 315.75px;
  height: 470.25px;
}
.slide1{
  /* transform: translateX(-220px); */
  /* opacity:0.3; */
  display:flex !important;
}
.slide2{
  /* z-index:2; */
  /* transform: scale(1.3); */
  display:flex !important;
  
}

.slide3{
  /* transform: translateX(220px); */
  /* opacity:0.3; */
  display:flex !important;
}

.slider .card video{
  width:50%;
  height:100%;
  object-fit:cover;
  border-radius:8px;
}

.slick-prev{
  left: 120px !important;
}

.slick-next{
  right: 150px !important;
}
.slick-prev:before,.slick-next:before{
  font-size: 45px !important;
}






