:root {
    --white: #ffffff;
    --black: #000000;
    --button-border: #c8c8c8;
  }

.Image-banner-container{
    background-image: url("https://cdn.shopify.com/s/files/1/0855/8706/7173/files/backgroundImage.jpg?v=1708420471");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
}
.background-img-container {
    margin-bottom: -10px;
    margin-top: 48px;
}

.background-img-container img {
    width: 100%;
    max-height: 746px;
    object-fit: cover;
    /* z-index: 2; */
}

.background-img-container .image-data-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}

.background-img-container .image-data-cont .img-heading {
    font-size: 72px;
    line-height: 78px;
    font-weight: 500;
}

.background-img-container .image-data-cont .img-description {
    font-size: 16px;
    margin-top: 40px;
    line-height: 24px;
}

.background-img-container .image-data-cont .btn-container {
    margin: 30px 0;
}

.background-img-container .image-data-cont .btn-container a {
    padding: 10px 30px;
    border-radius: 27px;
}

.background-img-container .image-data-cont .btn-container .first-btn {
    background: white;
    color: black;
    font-weight: 900;
    text-decoration: none;
    transition:all 0.3s ease;
    border: 1px solid transparent;
}

.background-img-container .image-data-cont .btn-container .first-btn:hover {
    border: 1px solid var(--orange);
    background-color: #ffe9d0;
}

.background-img-container .image-data-cont .btn-container .second-btn {
    color: white;
    text-decoration: one;
    font-weight: 900;
    background: none;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.background-img-container .image-data-cont .btn-container .second-btn:hover {
    border: 1px solid var(--orange);
}

.background-img-container .blocks-container {
    padding: 0 56px;
}

.background-img-container .image-below-container {
    display: flex;
    position: absolute;
    max-width: 1328px;
    min-height: 135px;
    /* left: 30%; */
    left: 0;
    right: 0;
    margin-inline: auto;
    transform: translateY(-50%);
    /* transform: translate(-50%, -50%); */
    background-color: #fff;
    top: 94%;
    border-radius: 9px;
    box-shadow: -5px -3px 35px #92d292, 7px 4px 16px #add8e6;
}

.background-img-container .image-below-container .question-container {
    /* max-width: 350px; */
    display: flex;
    padding: 0 0 0 30px;
    align-items: center;
}

.background-img-container .image-below-container .question-container p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.background-img-container .image-below-container .options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    max-width: 170px;
    padding: 17px 13px;
    border-left: 1.5px solid var(--button-border);
    transition:all 0.3s ease;
}

.background-img-container .image-below-container .options p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.background-img-container .image-below-container .options:hover {
    background: var(--collection-back);
}

.background-img-container .image-below-container .options a {
    padding: 4px 13px;
    border-radius: 20px;
    background: none;
    color: var(--black);
    text-decoration: none;
    border: 0.7px solid var(--button-border);
    transition:all 0.3s ease;
}

.background-img-container .image-below-container .options:hover a {
    border: 1px solid var(--orange);
    background: #ffe9d0;
    color: var(--white);
}

.background-img-container .image-below-container .last-option a {
    border: 1px solid var(--orange);
}

.background-img-container .image-below-container .last-option:hover a {
    color: var(--black);
}


@media screen and (max-width: 1064px)

{
    .background-img-container .image-data-cont {
        position: absolute;
        top: 50%;
        left: 29%;
        transform: translate(-20%, -50%);
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        text-align: center;
    }
    
}

@media screen and (max-width: 768px) {
    .Image-banner-container{
        max-height: 698px;
    }
    .background-img-container .image-data-cont {
        top: unset;
        transform:unset;
        left:unset;
    }

    .background-img-container .image-data-cont h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
    }

    .background-img-container .image-data-cont p {
        width: 333.5px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        height: 96px;
    }

    .background-img-container .image-data-cont .btn-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .background-img-container .image-data-cont .btn-container a {
        padding: 9px 24px;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
    }

    .background-img-container .image-data-cont {
        top: 50%;
    }

    .background-img-container .image-below-container {
        position: absolute;
        margin-inline: 2.5%;
        margin-top: 150px;
        background-color: #fff;
        top: 100%;
        border-radius: 9px;
        padding: 0;
        box-shadow: -5px -3px 35px #92d292, 7px 4px 16px #add8e6;
        flex-direction: column;
    }

    .background-img-container .image-below-container .options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        max-width: 100%;
        padding: 17px 13px;
        font-weight: 700;
        border-left: 1.5px solid var(--button-border);
        transition:all 0.3s ease;
    }

    .background-img-container .image-below-container .question-container {
        max-width: 100%;
        display: flex;
        padding: 12px 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .background-img-container .image-data-cont .img-heading {
        font-size: 40px;
        line-height: 45px;
        font-weight: 500;
      }
      .background-img-container .image-data-cont {
        position: absolute;
        top: 50%;
        left: 29%;
        transform: translate(-20%, -50%);
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        text-align: center;
    }
    
      
}

@media screen and (max-width: 375px){
    .background-img-container .image-data-cont h1{
        max-width: 275px;
    }
    .background-img-container .image-data-cont p{
        max-width: 275px;
    }
    .background-img-container .image-below-container .question-container{
        max-width: auto;
        display: flex;
        padding: 0 30px;
        align-items: center;
        text-align: center;
      }
      .background-img-container .image-below-container .question-container h1{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }
      .background-img-container .image-below-container .options{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border: none;
        width: 100%;
        padding: 0;
        padding: 12px 15px;
        margin-inline: 10px;
        flex-direction: row;
        font-weight: 500;
        font-size: 14px;
        border-top: 1.5px solid var(--button-border);
      }
      .background-img-container .image-below-container .last-option{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .background-img-container .image-below-container {
        position: absolute;
        margin-inline: 2.5%;
        background-color: #fff;
        top: 100%;
        border-radius: 9px;
        box-shadow: -5px -3px 35px #92d292, 7px 4px 16px #add8e6;
      }
}